@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3><strong>DISCLAMER: THIS WEBSITE IS FOR EDUCATIONAL USE ONLY!!! <br />I MAKE NO CLAIM TO THE PROPERTY OF THE
    RESPECTIVE OWNERS!!! THE ONLY THINGS I CLAIM ARE THE RIGHTS TO THIS DERIVATION
    OF THE MVC CODE, WHICH I HAVE WRITTEN. NO PROFIT IS MADE FROM THE USE OF THIS MATERIAL!</strong></h3>

<h3 class="MainABOUTTitle"> @ViewBag.Message</h3>
<br />
<h4 class="SubABOUTTitle">Dog Information and Images from Dog Breed Info.com</h4>
<p><a href="http://www.dogbreedinfo.com/germanshepherd.htm">German Shepherd</a></p>
<p><a href="http://www.dogbreedinfo.com/siberianhusky.htm">Siberian Husky</a></p>
<p><a href="http://www.dogbreedinfo.com/jackrussellterrier.htm">Jack Russell Terrier</a></p><br />


<h4 class="SubABOUTTitle">Cat Information and Images from Pet Finder.com</h4>
<p><a href="http://www.petfinder.com/cat-breeds/Norwegian-Forest-Cat">Norwegian Forest Cat</a></p>
<p><a href="http://www.petfinder.com/cat-breeds/American-Wirehair">American Wirehair Cat</a></p>
<p><a href="http://www.petfinder.com/cat-breeds/Siamese">Siamese Cat</a></p><br />


<h4 class="SubABOUTTitle">Main Home Image from Animal Zoo.ro</h4>
<p><a href="http://static.animalzoo.ro/uploads/2013/06/188486_f520.jpg">Main Image</a></p><br />
