@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>PETS R US</h1>
    <img id="MainIMG" src="~/Content/Images/MainIMG.jpg" />
    <p class="lead">We are dedicated to providing safe homes for our many fury friends. <br /><br /> <em>(Disclamer: Website information
    originated from numerous sources, please see about or click the button below...)</em></p>
    <p><a class="btn btn-default" @Html.ActionLink("Sources", "About", "Home")  &raquo;</a></p>
    <p><a class="btn btn-default" href="http://www.benns.uofl-cis411.com"> Back to Assignment Index</a></p>
</div>