@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>PETS R US</h1>
    <img id="MainIMG" src="~/Content/Images/MainIMG.jpg" />
    <p class="lead">We are dedicated to providing safe homes for our many fury friends. <br>Website information
    came from numerous sources.</p>
    <p><a class="btn btn-default" @Html.ActionLink("Sources", "About", "Home")  &raquo;</a></p>
</div>